.flash-box
  .notice　グループを更新しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p(class="side-header__box__user-name") test
          %ul(class="side-header__box__menu")
            %li(class="side-header__box__menu__new-group")
              %a(href="")
                =fa_icon "pencil-square-o"
            %li(class="side-header__box__menu__edit-user") 
              %a(href="")
                %i.fa.fa-cog
      .groups
        %a(href="")
          .group
            %p(class="group__group-name") test
            %p(class="group__letest-message") testes
        %a(href="")
          .group
            %p(class="group__group-name") test1
            %p(class="group__letest-message") tetetet
    .chat-main
      .main-header
        .main-header__left-box  
          %h2(class="main-header__left-box__current-group") eeee
          %ul(class="main-header__left-box__member-list")
            Menber:
            %li(class="main-header__left-box__member-list-menber")  222
        %a(href="")
          .main-header__edit-btn  Edit
      .messages
        .message
          .message__upper-info
            %p(class="message__upper-info__talker") test-user
            %p(class="message__upper-info__date") 2019/07/17
        %p(class="massege__text")
      .form
        .input-box
          %input(class="input-box__text"  type="text")
          %label(class="input-box__image")
            =fa_icon "image"
          %input(type="submit" name="commit"  value="Send"  class="submit-btn")
    